<h2>Update user <%= @user.name %></h2>
<section class="row">
  <div class="small-12 columns">
    <% unless @update_worked %>
    <div id="errors">
      <ul>
        <% @user.errors.messages.each do |field,error| %>
          <li><em><%= "#{field.capitalize} #{error.first}!" %></em></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <%= render "form" %>

  </div>
</section>