<section class="row">

  <div id="first">
    <div class="small-6 large-6 columns">
      <ul class="button-group">
        <li><button class="tiny alert button" id="copy">Copy Current Image</button></li>
        <li><button class="tiny secondary button" id="invert-colors">Invert Colors</button></li>
        <li><button class="tiny success button" id="brightness">Brighten Image</button></li>
      </ul>
      <ul class="button-group">
        <li><button class="tiny alert button" id="paste">Resotre From Buffer</button></li>
        <li><button class="tiny secondary button" id="greyscale">Greyscale Image</button></li>
        <li><button class="tiny success button" id="darkness">Darken Image</button></li>
      </ul>
      <ul class="button-group">
        <li><button class="tiny button" id="pixel">Pixelate Image</button></li>
      </ul>
    </div>
    <div class="small-6 large-6 columns panel callout">
      <p>Please click "Copy Current Image" button before you start editing your image. Once you make a mistake or want to revert to the original, you'll be able to click "Restore From Buffer" to get back.</p>
    </div>
  </div>

</section>

<section class="row" id="canvas-row">

  <div id="second">  
    <div id="toolbar">
      <div class="range-slider round" data-slider="10" data-options="display_selector: #sliderOutput1;">
        <span class="range-slider-handle"></span>
        <span class="range-slider-active-segment"></span>
        <input id="sliderOutput2" type="hidden">
      </div>
      <div id="rad">
        Radius <span id="sliderOutput1"></span>
      </div>
      <div id="resolution">
      </div>
      <input type='text' class="basic"/>
      <em id='basic-log'></em>
    </div>

    <canvas id="canvas" style="border: 1px solid black">
      Sorry, your browser doesn't support the cavas.
    </canvas>
  </div>

</section>
<script type="text/javascript">
  $(".basic").spectrum({
      color: "#f00"
  });
  canvasFunc();
  colorPickerFunc();
  radiusFunc();
  saveImageFunc("<%= @user.id %>");
  insertImageInCanvasFunc();
</script>