<section class="row">
  <div class="small-12 columns">
    <div id="about-author" class="panel">
      <h4>Hello, my name is Dmitry Jum</h4>
      <p>I am junior full stack web developer. My major interstes in developments are programming in langugaes like Ruby, JavaScript and frameworks related to them. I am not very strong in web design, however I will be working progressivly on design of this editor<p>
        <p> If you have questions, suggestions, reccomendations, feel free to get in touch with me over <%= mail_to "dmitrjum@gmail.com", "Email" %>, find me on <%= link_to "LinkedIn", "http://www.linkedin.com/in/dmitryjum/" %> or check my personal page at <%= link_to "www.dmitryjum.com", "http://www.dmitryjum.com" %></p>
      </div>
    </div>
  </section class="row">