<secton calss="row">
  <div class="10-small columns">
  <h1>Welcome to Imago<h1>
    <h3>Imago - simple web based image editor</h3>
    <p>"Imago" is a latin word and it means image in English</p>
    <p>Although my application derives its name from latin word. There are couple more meanings of this word, that could be of your interest:<br>
      1.an insect in its final, adult, sexually mature, and typically winged state.</p>
      <p>2.an idealized mental image of another person or the self.</p>
  </div>
</section>