<secton calss="row">
  <div class="10-small columns">
  <h1>Welcome to Imago<h1>
    <h3>Imago - simple web based image editor</h3>
    <p>"Imago" is a latin word and it means image in English</p>
    <p>Although my application derives its name from latin word. There are couple more meanings of this word, that could be of your interest:<br>
      1.an insect in its final, adult, sexually mature, and typically winged state.</p>
      <p>2.an idealized mental image of another person or the self.</p>
      <br />
      <h4>And a little bit about Imago application</h4>
      <p>Hello Everyone. My name is Dmitry Jum. This wonderful application was built by me within about 4 days as a final project for Web Development Immersive course at General Assembly in the beginning of April 2014. And now still in construction.<p>
        <p>The major features of this application are:
          <ul>
            <li>User can create his account with minimum personal information.</li>
            <li>User can draw a sketch choosing different thikness of brush and choosing one of several colors available in the current version</li>
            <li>
              User can upload an image via link from internet or from his computer.</li>
              <li>User can view his image album, look at any image closer and edit it in the editor, then save it and overwrite it</li>
            </ul>
            <br />
            <h4>Languages and technologies I've used</h4>
            <ul>
              <li>Back-end: Ruby on Rails 4.0</li>
              <li>Non relational database MongoDB and Mongoid ORM to control it. Uploaded images are stored on Amazon S3 Web Services</li>
              <li>The logic of the actual editor is written in JavaScript with elemnts of jQuery and AJAX thecnics</li>
            </ul>
            <br/>
            <h4>Please note, that the canvas application may not function properly in browsers besides Chrome. If you experience difficulty using brush on canvas or don't even see the field to draw, please install Chrome</h4>
  </div>
</section>