<secton class="row">
  <div id="index" class="small-7 small-centered columns">
    <div class="panel callout">
  <h1>Welcome to Imago<h1>
    <h3>Imago - simple web based image editor</h3>
    <p>"Imago" is a latin word and it means image in English</p>
    <p>Although my application derives its name from latin word. There are couple more meanings of this word, that could be of your interest:<br>
      1.an insect in its final, adult, sexually mature, and typically winged state.</p>
      <p>2.an idealized mental image of another person or the self.</p>
    </div>
  </div>
</section>

<section class="row">
  <div id="about-app" class="small-7 small-centered columns">
    <div class="panel callout">
    <p>The major features of this application are:</p>
    <ul>
      <li>User can create his account with minimum personal information.</li>
      <li>User can draw a sketch choosing different thikness of brush and choosing one of several colors available in the current version</li>
      <li>
        User can upload an image via link from internet or from his computer.</li>
        <li>User can view his image album, look at any image closer and edit it in the editor, then save it and overwrite it</li>
      </ul>
      <br />
      <h4>Languages and technologies I've used</h4>
      <ul>
        <li>Back-end: Ruby on Rails 4.0</li>
        <li>Non relational database MongoDB and Mongoid ORM to control it. Uploaded images are stored on Amazon S3 Web Services</li>
        <li>The logic of the actual editor is written in JavaScript with elemnts of jQuery and AJAX thecnics</li>
      </ul>
      <br/>
      <p>Please note, that the canvas application may not function properly in browsers besides Chrome. If you experience difficulty using brush on canvas or don't even see the field to draw, please install Chrome</p>
    </div>
  <div>
</section>

<section class="row">
  <div id="about-author" class="small-7 small-centered columns">
    <div class="panel callout">
      <h4>Hello, my name is Dmitry Jum</h4>
      <p>I am junior full stack web developer. My major interstes in developments are programming in langugaes like Ruby, JavaScript and frameworks related to them. I am not very strong in web design, however I will be working progressivly on design of this editor<p>
        <p> If you have questions, suggestions, reccomendations, feel free to get in touch with me over <%= mail_to "dmitryjum@gmail.com", "Email" %>, find me on <%= link_to "LinkedIn", "http://www.linkedin.com/in/dmitryjum/" %> or check my personal page at <%= link_to "www.dmitryjum.com", "http://www.dmitryjum.com" %></p>
      </div>
    </div>
  </section>