<li class="has-dropdown">
  <a href="#">Image menu</a>
  <ul class="dropdown">
    <li><%= link_to "Delete this picture", user_image_path(@user, @image), method: "delete", data: { confirm: "Are you sure you want to delete this picture?"} %></li>
    <li id="edit-button"><a href="#">Edit this picture</a></li>
  </ul>
</li>