<div id="album_heading">
  <h1>Welcome to your album <%= @user.name %></h1>
</div>
<div id="image_form">
  <%= render "form" %>
  </div>
<div id="album_table">
  <ul>
      <% @images.each do |img| %>
          <li><%= link_to image_tag(img.image_url), user_image_path(@user, img) %></li>
      <% end %>
  </ul>
</div>