<div class="image_show">

  <%= image_tag @image.image_url %>
    <%= button_to "Delete this picture",
     user_image_path(@user, @image),
      method: :delete, data: { confirm: "Are you sure?"} %>
</div>