<div class="image_show">
<% if @image.attachment != nil %>
  <%= image_tag @image.attachment %>
<% else %>
  <%= image_tag @image.image_url %>
<% end %>

    <%= button_to "Delete this picture",
     user_image_path(@user, @image),
      method: :delete, data: { confirm: "Are you sure?"} %>
</div>